<!-- Registration form -->
@model Seminarski_fitness_centar_IB130116.ViewModels.ObavjestenjaVM;

<div id="ListaObavjestenja">
    @{

    }
    <form asp-action="get_next_obavjestenja" asp-controller="ajax_stavke" id="Obavjestenja" ajax-result="ListaObavjestenja" class="ajax-submit ajax-form">

    </form>
</div>
